body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafb;
  font-size: medium;
  font-weight: medium;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
option,
button,
input {
  font-size: medium;
  font-weight: medium;
}

h2 span {
  font-weight: inherit;
}
.head {
  font-weight: medium;
}

.main-container {
  padding: 20px;
}

.Display-Handling {
  display: flex;
  align-items: center;
  gap: 10px;
}
.import-heading {
  margin-bottom: 20px;
}

.import-heading h1 {
  margin: 0;
}

.steps-container {
  display: flex;
  flex-direction: column;
}

.steps-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.buttons button {
  margin-top: 10px;
}
.steps-row:last-child {
  height: 30em;
}

.step-card {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-card span {
  padding-left: 1.6em;
}

.step-content {
  padding-left: 7.5em;
}

.step3 .step-content {
  width: 35em;
}

#nextButton {
  color: white;
  background-color: green;
}

#cancelButton {
  border: none;
  background-color: white;
  color: red;
}

#nextButton,
#cancelButton {
  float: right;
  padding: 8px 15px;
  letter-spacing: 0.1em;
}

.control-btn {
  height: 37px;
}

#availableFields,
#displayFields {
  width: 100%;
  margin-top: 5px;
}
